body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#cff7e2;
    justify-content: center;
    align-items: center;
}

.flex-container {
    
    padding: 12px 12px 12px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 700px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background-color: #0e490e;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #F0F0F0;
    color: #0e490e;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    height: 200px;
    width: 97%;
    font-size: 40px;
    margin-top: 11px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 80px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 5px;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    
}

.number {
    background-color: #2E8B57; 
    color: #FFFFFF; 
    border-radius: 5px; 
    margin: 5px;
    transition: all 0.2s ease;
}

.number:hover {
    background-color: #3CB371;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.operator {
    background-color: #8B4513;
    color: #FFFFFF; 
    border-radius: 5px; 
    margin: 5px;
    transition: all 0.2s ease;
}

.operator:hover {
    background-color: #A0522D;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#last-button {
    flex-grow: 0.9;
}